<div style="border: 1px solid silver">
    <h3>Counter child component</h3>
    <p>Current count: @CurrentCount</p>
    <br />
    <button class="btn btn-secondary" @onclick=IncrementCount>Inc</button>
    <button class="btn btn-secondary" @onclick=DecrementCount>Dec</button>
    <button class="btn btn-danger" @onclick="ResetCount">Reset</button>
</div>

@code {
    [CascadingParameter] OtherCascadingData OtherCascadingData { get; set; }

    [Parameter] public int? CurrentCount { get => _currentCount; set => ValueChangedHelper.Set(ref _currentCount, value, CurrentCountChanged); }
    //[Parameter] public int? CurrentCount { get; set; }
    [Parameter] public EventCallback<int?> CurrentCountChanged { get; set; }
    int? _currentCount;

    Task IncrementCount()
        => ChangeCount(CurrentCount + 1);

    Task DecrementCount()
        => ChangeCount(CurrentCount - 1);

    Task ResetCount()
         => ChangeCount(0);

    Task ChangeCount(int? newValue)
    {
        CurrentCount = newValue;
        return CurrentCountChanged.InvokeAsync(CurrentCount);
        //return Task.CompletedTask;
    }
}
